.shadows {
	border: solid 1px #909090;
	background-color: #eed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.bubble {
	border: solid 1px #909090;
	background-color: #eed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	display: inline-block;
	position: relative;
}

.tail-bottom {
	position: absolute;
	bottom: -18px;
	left: 45%;
	width: 18px;
	height: 18px;
	overflow: hidden;
}

.tail-bottom:before {
	border-style: solid;
	border: 1px solid #909090;
	background-color: #eed;
	box-shadow: 0 0 6px #b2b2b2;
	content: "\00a0";
	display: block;
	position: absolute;
	top: -6px;
	left: 3px;
	height: 12px;
	width: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

.tail-left {
	position: absolute;
	top: 12px;
	left: -18px;
	height: 18px;
	width: 18px;
	overflow: hidden;
}

.tail-left:before {
	border-style: solid;
	border: 1px solid #909090;
	background-color: #eed;
	box-shadow: 0 0 6px #b2b2b2;
	content: "\00a0";
	display: block;
	position: absolute;
	top: 3px;
	left: 12px;
	height: 12px;
	width: 12px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}
