doctype html
html
	head
		title KidBright
		meta(charset='utf-8')
		link(href='/vendor/bootstrap.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		link(href='//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css', rel='stylesheet')

		
		script(src='/js/lang.js')
		block scripts
	body
		block content
